dnd-transport/src/main/resources/com/androidoven/transport/wadl/Customer.wadl.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:cs="http://www.xsd.transport.androidoven.com/CustomerService"
	xmlns:cm="http://www.xsd.transport.androidoven.com/Common">

	<grammars>
		<include href="../xsd/CustomerService.xsd" />
		<include href="../xsd/Common.xsd" />
	</grammars>

	<resources base="http://www.androidoven.com/dnd/api">
		<resource id="com.androidoven.transport.wadl.CustomerResource">
			<resource path="/cookslist">
				<method id="cookslist" name="GET">
					<response>
						<representation mediaType="application/json" element="cs:CooksListView"/>
					</response>
				</method>
			</resource>
			
			<resource path="/signinCustomer">
				<method id="signinCustomer" name="POST">
					<request>
						<representation mediaType="application/json" element="cm:Customer"/>
					</request>
					<response>
						<representation mediaType="application/json" element="cs:CooksListViewWithCustomer"/>
					</response>
				</method>
			</resource>
			
			<resource path="/updateCustomer">
				<method id="updateCustomer" name="POST">
					<request>
						<representation mediaType="application/json" element="cs:CustomerUpdate"/>
					</request>
					<response>
						<representation mediaType="application/json" element="cs:CooksListViewWithCustomer"/>
					</response>
				</method>
			</resource>
		</resource>
	</resources>

</application>